# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
build/
dist/

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# IDE / editor
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Local config / secrets
.env
.env.*
.jovianrc

# Generated outputs
data/outputs/*.txt
*.log
